/* Подключаем компасс */
@import "compass";
@import "compass/reset";


html {
	/* height hack */
	min-height:100%; 
	height:auto !important; 
	height:100%;
}

body {
	/* height hack */
	min-height:100%; 
	height:auto !important; 
	height:100%;
	
	/* font smoothing in webkit */
	-webkit-font-smoothing: subpixel-antialiased;
}

body.onload {overflow:hidden;}
button, select {-webkit-appearance: none;}

/* text selection */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* old browser note */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


@font-face {
    font-family: 'PT Mono';
    src: local('PT Mono'), local('PTMono-Regular'), url('../fonts/ptmono/ptmono.woff2') format('woff2'), url('../fonts/ptmono/ptmono.woff') format('woff'), url('../fonts/ptmono/ptmono.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT Mono';
    src: local('PT Mono Bold'), local('PTMono-Bold'), url('../fonts/ptmono/ptmonobold.woff2') format('woff2'), url('../fonts/ptmono/ptmonobold.woff') format('woff'), url('../fonts/ptmono/ptmonobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


// =======================================================================// 
//                                  Adaptation                             //        
// =======================================================================// 
@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: 320px) { @content; }
  }
  @else if $media == xs {
    @media only screen and (max-width: 481px) { @content; }
  }
  @else if $media == sm {
    @media only screen and (max-width: 768px) { @content; }
  }
  @else if $media == md {
   @media only screen and(max-width: 991px) { @content; }
  }
  @else if $media == lg {
   @media only screen and (max-width: 1199px) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (max-width: 1300px) { @content; }
  }
}