@import 'settings';
@import 'variables';
@import 'patterns';
@import 'moduls';
@import 'sprite';

// lattice
.content {
	position: relative;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	width: 960px;
	margin: 0 auto;

	@include respond-to(md) {width: 740px;}
	@include respond-to(sm) {width: 100%;}
}

.row {
	margin-left: -10px;
	margin-right: -10px;

	&:after {
		content: '';
		display: table;
		width: 100%;
		clear: both;
	}
}

.md_col-12 {width: 100%;}
.md_col-11 {width: 91.6667%}
.md_col-8 {width: 66.6667%;}
.md_col-9 {width: 75%;}
.md_col-10 {width: 83.3333%;}
.md_col-7 {width: 58.3333%}
.md_col-6 {width: 50%;}
.md_col-5 {width: 41.6667%;}
.md_col-4 {width: 33.3333%;}
.md_col-3 {width: 25%;}
.md_col-2 {width: 16.6667%;}
.md_col-1  {width: 8.3333%;}

.md_col-1, .md_col-10, .md_col-11, .md_col-12, .md_col-2, .md_col-3, .md_col-4, .md_col-5, .md_col-6, .md_col-7, .md_col-8, .md_col-9 {
	float: left;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;

	@include respond-to(sm) {
		width: 100%; display: block; float: none;
	}

}



.md_col--offset-3 {
	margin-left: 25%;

	@include respond-to(sm) {
		width: 75%;
	}
}
.md_col--offset-5 {
	margin-left: 41.6667%;

	@include respond-to(sm) {
		width: 58.3333%;
	}
}
.md_col--offset-4 {
	margin-left: 33.3333%;

	@include respond-to(sm) {
		width: 66.6667%;
	}
}

.sm_col-1, .sm_col-2, .sm_col-3, .sm_col-4, .sm_col-5, .sm_col-6, .sm_col-7, .sm_col-8, .sm_col-9, .sm_col-10, .sm_col-11, .sm_col-12, {
	@include respond-to(sm) {
		width: 100%; margin: 0; padding-left: 10px; padding-right: 10px; position: relative;
	}
}

.clear {clear: both;}

a {text-decoration: none;}

// section {position: relative;}

// socials hovers
.socials,
.socials-list {
	
	li {@include transition(all .4s);}
	&:hover li {opacity: 0.4;}
	li:hover {opacity: 1;}
}

.preloader {
	width: 100%; height: 100%; z-index: 99999;
	position: fixed; top: 0; left: 0;

	svg {
		width: 10%;
		position: absolute; top: 50%; left: 50%; @include transform(translate(-50%, -50%));
	}

	&.seo {background: $font-color4-seo;}
	&.html {background: $font-color4-html;}
	&.ux {background: $font-color4-ux;}
}

// .figures {
//     position: relative;
//     width: 960px;
//     margin: 0 auto;

//     img {
//         position: absolute;

//         &.fig1 {bottom: -160px; right: -160px;}
//         &.fig2 {top: -1490px; left: -21px;}
//         &.fig3 {top: -420px; left: 580px;}
//         &.fig4 {top: -430px; left: -356px;}
//         &.fig5 {top: -55px; left: -180px;}
//         &.fig6 {top: 180px; left: 250px;}
//         &.fig7 {top: 590px; left: 678px;}
//         &.fig8 {top: -230px; left: -307px;}
//         &.fig9 {top: -500px; right: -518px;}
//     }
// }

// preloader
.preloader {}


// application
.app {
	
	min-width: 320px;
	overflow: hidden;

	// header
	.header {

		.logo {
			text-indent: -9999px;
			display: block; width: 91px; height: 89px; float: left; margin-top: 10px;
			
			&.seo {
				background: url('../img/seo/logo.png') 0 0 no-repeat;
			}

			&.smm {
				background: url('../img/smm/logo.png') 0 0 no-repeat;
			}

			&.html {
				background: url('../img/html/logo.png') 0 0 no-repeat;
			}

			&.ux {
				background: url('../img/ux/logo.png') 0 0 no-repeat;
			}

		}

		.header-nav {
			text-align: right;
			margin: 30px 0 31px 0;

			ul.nav {

				li {
					display: inline-block;

					&:after {
						content: '/';
						margin: 0 15px;
					}

					&:last-child {&:after {display: none;}}

					a, span {
						@extend .nav-style1;  text-transform: uppercase;/* &:hover {border-bottom: 4px solid $font-color5;}*/
					}

					&.active a {border-bottom: 4px solid $font-color5; &:hover {cursor: default;}}
				}
			}

			ul.contacts {
				li {
					display: inline-block;

					&:after {
						content: '/';
						margin: 0 10px;
					}
					
					&:last-child {&:after {display: none;}}

					a, span {
						@extend .nav-style2;
						text-transform: lowercase;
					}
				}
			}
		}

	}
	
	/* BANNER */
	.wr-banner {
		margin-top: 22px;
		padding: 142px 0 110px;

		&.seo {background: $bg-color2;}

		&.smm {background: $bg-color2;}
		
		&.html {background: $bg-color1;}

		&.ux {background: $bg-color1;}

		@include respond-to(sm) {padding: 80px 0;}
		@include respond-to(xs) {padding: 40px 0;}

	}

	/* RESULT */
	.wr-result {
		padding: 128px 0 78px;

		.counter {
			position: absolute; top: -181px; right: 8px;

			@include respond-to(sm) {text-align: center; right: 0; top: 0; position: relative; margin-bottom: 30px;}
		}

		&.html {background: $bg-color1 url(../img/html/map.png) 50% center no-repeat; @include respond-to(sm) {background-size: cover;}}

		@include respond-to(sm) {padding: 80px 0;}
		@include respond-to(xs) {padding: 40px 0;}

	}

	/* AUTHOR */
	.wr-author {
		background: $bg-color2;

		&.seo_1{
			padding: 120px 0 46px 0;
		}

		&.seo_2 {
			padding: 140px 0 118px;
			background: none;
		}

		&.smm {
			padding: 120px 0 0;	
		}

		&.html {
			padding: 119px 0 46px 0;
		}

		&.ux {
			padding: 160px 0 46px 0;
		}
		&.seo_1, &.seo_2, &.smm, &.html, &.ux {
			@include respond-to(sm) {padding: 80px 0;}
			@include respond-to(xs) {padding: 40px 0;}
		}

	}



	.wr-testimonials {
		&.seo {
			background: $bg-color2;
		}

		&.smm {
			background: $bg-color2;
		}

		&.html {
			background: $bg-color1;
		}

		&.ux {
			background: $bg-color2;
		}
	}

	.wr-format {
		&.seo {
			background: $bg-color1;
			padding: 158px 0;
		}

		&.smm{
			background: $bg-color1;
			padding: 256px 0 140px;
		}


		&.html {
			background: $bg-color1;
			padding: 131px 0 150px 0;
		}

		&.ux {
			background: $bg-color1;
			padding: 158px 0;
		}

		&.seo, &.smm, &.html, &.ux {
			@include respond-to(sm) {padding: 80px 0;}
			@include respond-to(xs) {padding: 40px 0;}
		}

	}

	.wr-program {
		&.seo_1 {
			padding: 110px 0 0 0;
			@include background(linear-gradient($bg-color2, $bg-color1));
		}

		&.seo_2 {
			padding: 122px 0 136px;
			@include background(linear-gradient($bg-color1, $bg-color2));
		}

		&.smm {
			padding: 147px 0 0;
			@include background(linear-gradient($bg-color2, $bg-color1));
		}

		&.html {
			padding: 143px 0 0 0;
			@include background(linear-gradient($bg-color2, $bg-color1));
		}

		&.ux {
			padding: 110px 0 0 0;
			@include background(linear-gradient($bg-color2, $bg-color1));
		}

		&.seo_1, &.seo_2, &.smm, &.html, &.ux {
			@include respond-to(sm) {padding: 80px 0 0;}
			@include respond-to(xs) {padding: 40px 0 0;}
		}

	}

	.wr-specialty {
		padding: 214px 0 216px;

		@include respond-to(sm) {padding: 80px 0;}
		@include respond-to(xs) {padding: 40px 0;}
	}

	.wr-go_in {
		background: $bg-color2;
		padding: 120px 0 156px;

		hr {
			opacity: .2;
		}

		h3.socials-header {
			@extend .header-style4;
			margin: 46px 0 23px;
		}

		.socials {

			li {
				display: inline-block;
				margin-right: 10px;
			}
		}

		@include respond-to(sm) {padding: 80px 0;}
		@include respond-to(xs) {padding: 40px 0;}
	}

	.wr-benefits {
		&.seo {
			background: $bg-color1;
			padding: 252px 0 80px 0;
		}

		&.smm {
			background: $bg-color1;
			padding: 157px 0 80px;
		}

		&.html {
			background: $bg-color1;
			padding: 57px 0 0 0;
		}

		&.ux {
			background: $bg-color1;
			padding: 252px 0 80px 0;
		}

		&.seo, &.smm, &.html, &.ux {
			@include respond-to(sm) {padding: 80px 0;}
			@include respond-to(xs) {padding: 40px 0;}
		}

	}

	.wr-start {
		height: 1095px;

		@include respond-to(md) {height: auto; padding: 70px 0px;}
		@include respond-to(xs) {padding: 40px 0;}

		.counter {
			position: absolute; top: 660px; left: 578px;

			@include respond-to(sm) {text-align: center; position: relative; left: 0; top: 0; margin-top: 120px;}
		}

		&.smm {}

		&.html {
			.counter {
				position: absolute; top: 677px; left: 608px;

				@include respond-to(md) {text-align: center; position: relative; left: 0; top: 0;}
			}
		}
		
		&.ux {}

	}

	.wr-buy {
		padding: 160px 0;
		@include background(linear-gradient($bg-color2, $bg-color1));

		@include respond-to(sm) {padding: 80px 0;}
		@include respond-to(xs) {padding: 40px 0;}

	}

	/* COMMENTS */
	.wr-comments {
		background: $bg-color2;
		padding: 122px 0 150px;

		hr {
			opacity: .2;
			margin: 90px 0 58px;
		}

		@include respond-to(sm) {padding: 80px 0;}
		@include respond-to(xs) {padding: 40px 0;}

	}

	.wr-faq {
		background: $bg-color1;

		&.seo {
			padding: 117px 0;
		}

		&.smm {
			padding: 55px 0;
		}

		&.html {
			padding: 120px 0;
		}

		&.ux {
			padding: 117px 0;
		}

		&.seo, &.html, &.ux {
			@include respond-to(sm) {padding: 80px 0;}
			@include respond-to(xs) {padding: 40px 0;}
		}

	}

	.wr-upsale {
		background: $bg-color1;
		padding: 120px 0;


		@include respond-to(sm) {padding: 80px 0;}
		@include respond-to(xs) {padding: 40px 0;}

	}

	.wr-contact {
		background: $bg-color2 url(../img/seo/lines.png) no-repeat center 260px;
		padding: 80px 0;

		@include respond-to(xs) {padding: 40px 0;}

	}

	.wr-socials {
		background: $bg-color1;
		padding: 80px 0;

		@include respond-to(xs) {padding: 40px 0;}
	}

	// footer
	.footer {
		background: $bg-color2;
		padding: 20px 0;

		p, a {@extend .text-style6; font-weight: 700;}

		a {border-bottom: 4px solid $font-color4-seo; &:hover {border: none;}}

		.footer-copyright {
			@include respond-to(sm) {margin-bottom: 15px;}
		}

		.footer-made_by {
			text-align: right;
		}

		&.html {
			background: $bg-color2;
			padding: 20px 0;

			p, a {@extend .text-style6; font-weight: 700;}

			.footer-copyright {
				
			}

			.footer-made_by {
				
			}
		}

	}
}


.popup {
	display: none; padding: 60px 80px 40px 80px; width: 400px;
	position: relative;
	background: $bg-color1;

	p {
		@extend .header-style5;
		position: relative; margin-bottom: 10px;

		&:before {
			content: '';
			width: 11px; height: 13px;
			position: absolute; left: -15px; top: 6px;
			background: url(../img/seo/decor/text8.png) 0 0 no-repeat;
		}
	}

	ul {
		margin-bottom: 35px;

		li {
			@extend .text-style4; 
			margin-bottom: 5px; padding-left: 25px;
			background: url(../img/seo/decor/dot.png) 0 7px no-repeat;
		}
	}

	form {

		ul {
			margin-bottom: 40px;

			li {margin-bottom: 20px; background: none; padding: 0;}
		}

		label {@extend .text-style3; font-weight: 700;}
		input {width: 260px;}
		button {@extend .button-style2; margin-bottom: 10px;}
	}

	.b-close {
		@extend .header-style1; color: $font-color2; font-size: 30px; font-weight: 400;
		position: absolute; top: -36px; right: -35px;
	}
}



.grid {
	width: 960px; height: 17000px; opacity: 0.5;
	position: absolute; top: 0; left: 315px;
	background: url(../grid.png) 0 0 repeat-y;
}






