@import 'settings';

// colors
$bg-color1: #FFFFFF;
$bg-color2: #F0F1F5;
$bg-color3: #1D1D1D;
$bg-color4: #CACBCC;
$bg-color5: #F2F2F2;

$font-color1: #1D1D1D;
$font-color2: #FFFFFF;
$font-color3: #606060;
$font-color4-html: #ea2a31;
$font-color4-ux: #ffd500;
$font-color4-seo: #46BBFA;
$font-color5: #b2b2b2;
$font-color6: #C3C3C4;

// fonts 
$header-font: "proxima-nova",sans-serif;
$text-font: 'PT Mono', sans-serif;