/*********************************************** 
    Layout
***********************************************/
/* Layout browser style reset
***********************************************/
/* Prevent text size adjustment */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/**
 * - Reset 'body' margins
 * - Set common 'line-height' for 'body'
 * - Set better font rendering for webkit and firefox on Mac
 */
body {
  margin: 0;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* Set box-sizing 'border-box' by default */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Set display 'block' to html5 elements and 'inline-block' for media elements */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers */
audio,
canvas,
iframe,
progress,
img,
svg,
video {
  vertical-align: middle;
}

/* Reset elements margins and padings */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}

/* Remove default list style */
ol,
ul {
  list-style: none;
}

li {
  display: block;
}

/** 
 * - Make 'img' to respect container borders 
 * - Remove border from 'img' in link in IE 8-10
 */
img {
  max-width: 100%;
  height: auto;
  border: 0;
}

/** 
 * - Remove 'text-decoration' from links 
 * - Remove the gray background color from active links in IE 10
 */
a {
  text-decoration: none;
  background-color: transparent;
}

/**
 * - Prevent modern browsers from displaying 'audio' without controls
 * - Remove excess height in iOS 5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * - Address [hidden] styling not present in IE 8-10
 * - Hide the 'template' element in IE 8-11, Safari and Firefox < 22
 */
[hidden],
template {
  display: none;
}

/* Set bold font weight for all browsers */
b,
strong {
  font-weight: bold;
}

/* Set font size for 'small' element */
small {
  font-size: 80%;
}

/* Prevent 'sub' and 'sup' affecting 'line-height' in all browsers */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Reset 'blockquote' appereance */
blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* Remove pseudo element in buttons in Firefox */
::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/** 
 * Remove ugly outline from focused elements, 
 * don't remember to add your own focus styles 
 */
:focus {
  outline: 0;
}

/* Correct overflow not hidden in IE 9-11 */
svg:not(:root) {
  overflow: hidden;
}

/* Normalize 'hr' appereance */
hr {
  height: 0;
}

/* Contain overflow in all browsers */
pre {
  overflow: auto;
}

/* Address odd 'em'-unit font size rendering in all browsers */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * - Correct color not being inherited
 * - Correct font properties not being inherited
 * - Address margins set differently in Firefox 4+, Safari, and Chrome
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* Address 'overflow' set to 'hidden' in IE 8-11 */
button {
  overflow: visible;
}

/**
 * - Address inconsistent 'text-transform' inheritance for 'button' and 'select'.
 * - All other form control elements do not inherit 'text-transform' values.
 * - Correct 'button' style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * - Correct 'select' style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/** 
 * - Correct inability to style clickable 'input' types in iOS
 * - Set pointer cursor appearance for buttons 
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* Default cursor for disabled elements */
[disabled] {
  cursor: default;
}

/* Address Firefox 4+ setting 'line-height' on 'input' using '!important' in the UA stylesheet */
input {
  line-height: normal;
}

/* Remove excess padding in IE 8-10 */
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

/** 
 * Fix the cursor style for Chrome's increment/decrement buttons.
 * For certain
 * - 'font-size' values of the 'input', it causes the cursor style of the
 * - decrement button to change from 'default' to 'text'
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * - Address 'appearance' set to 'searchfield' in Safari and Chrome
 */
input[type="search"] {
  -webkit-appearance: textfield;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has padding (and 'textfield' appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * - Correct 'color' not being inherited in IE 8-11
 * - Remove padding so people aren't caught out if they zero out fieldsets
 */
legend {
  border: 0;
  padding: 0;
}

/* Remove default vertical scrollbar in IE 8-11 */
textarea {
  overflow: auto;
}

/** 
 * Don't inherit the 'font-weight' (applied by a rule above)
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X
 */
optgroup {
  font-weight: bold;
}

/* Remove most spacing between table cells */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Layout print styles
***********************************************/
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* Page content
***********************************************/
.content,
.content-fluid {
  margin-right: auto;
  margin-left: auto;
}

/* Maximum width for fluid content */
.content-fluid {
  max-width: 1280px;
}

/* Responsive styles for content */
@media (min-width: 768px) {
  .content {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .content {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .content {
    width: 1120px;
  }
}
/*********************************************** 
    Grid system
***********************************************/
/* Grid wrapper
***********************************************/
.grid,
.grid-fluid,
.content,
.content-fluid {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
}
.grid:before, .grid:after,
.grid-fluid:before,
.grid-fluid:after,
.content:before,
.content:after,
.content-fluid:before,
.content-fluid:after {
  content: '';
  display: table;
}
.grid:after,
.grid-fluid:after,
.content:after,
.content-fluid:after {
  clear: both;
}

/* Grid rows
***********************************************/
.row {
  margin-right: -10px;
  margin-left: -10px;
}
.row:before, .row:after {
  content: '';
  display: table;
}
.row:after {
  clear: both;
}

/* Grid row features
***********************************************/
/* Collapse row feature */
.row-collapse {
  margin-left: 0;
  margin-right: 0;
}
.row-collapse > [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

/* Different gutter row feature */
.row-gutter-0 {
  margin-left: 0;
  margin-right: 0;
}
.row-gutter-0 > [class*='col-']:first-child {
  padding-left: 0;
  padding-right: 0;
}
.row-gutter-0 > [class*='col-'] + [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}
.row-gutter-0 > [class*='col-']:last-child {
  padding-right: 0;
  padding-left: 0;
}

.row-gutter-3u {
  margin-left: 0;
  margin-right: 0;
}
.row-gutter-3u > [class*='col-']:first-child {
  padding-left: 0;
  padding-right: 20px;
}
.row-gutter-3u > [class*='col-'] + [class*='col-'] {
  padding-left: 10px;
  padding-right: 10px;
}
.row-gutter-3u > [class*='col-']:last-child {
  padding-right: 0;
  padding-left: 20px;
}

.row-gutter-6u {
  margin-left: 0;
  margin-right: 0;
}
.row-gutter-6u > [class*='col-']:first-child {
  padding-left: 0;
  padding-right: 40px;
}
.row-gutter-6u > [class*='col-'] + [class*='col-'] {
  padding-left: 20px;
  padding-right: 20px;
}
.row-gutter-6u > [class*='col-']:last-child {
  padding-right: 0;
  padding-left: 40px;
}

.row-gutter-9u {
  margin-left: 0;
  margin-right: 0;
}
.row-gutter-9u > [class*='col-']:first-child {
  padding-left: 0;
  padding-right: 60px;
}
.row-gutter-9u > [class*='col-'] + [class*='col-'] {
  padding-left: 30px;
  padding-right: 30px;
}
.row-gutter-9u > [class*='col-']:last-child {
  padding-right: 0;
  padding-left: 60px;
}

.row-gutter-12u {
  margin-left: 0;
  margin-right: 0;
}
.row-gutter-12u > [class*='col-']:first-child {
  padding-left: 0;
  padding-right: 80px;
}
.row-gutter-12u > [class*='col-'] + [class*='col-'] {
  padding-left: 40px;
  padding-right: 40px;
}
.row-gutter-12u > [class*='col-']:last-child {
  padding-right: 0;
  padding-left: 80px;
}

.row-gutter-15u {
  margin-left: 0;
  margin-right: 0;
}
.row-gutter-15u > [class*='col-']:first-child {
  padding-left: 0;
  padding-right: 100px;
}
.row-gutter-15u > [class*='col-'] + [class*='col-'] {
  padding-left: 50px;
  padding-right: 50px;
}
.row-gutter-15u > [class*='col-']:last-child {
  padding-right: 0;
  padding-left: 100px;
}

.row-gutter-18u {
  margin-left: 0;
  margin-right: 0;
}
.row-gutter-18u > [class*='col-']:first-child {
  padding-left: 0;
  padding-right: 120px;
}
.row-gutter-18u > [class*='col-'] + [class*='col-'] {
  padding-left: 60px;
  padding-right: 60px;
}
.row-gutter-18u > [class*='col-']:last-child {
  padding-right: 0;
  padding-left: 120px;
}

.row-gutter-reset {
  margin-right: -10px;
  margin-left: -10px;
}
.row-gutter-reset > [class*='col-']:first-child,
.row-gutter-reset > [class*='col-'] + [class*='col-'],
.row-gutter-reset > [class*='col-']:last-child {
  padding-right: 10px;
  padding-left: 10px;
}

/* Vertical gutter row feature */
.row-vertical-gutter-0 > [class*='col-'] + [class*='col-'] {
  margin-top: 0;
}

.row-vertical-gutter-3u > [class*='col-'] + [class*='col-'] {
  margin-top: 30px;
}

.row-vertical-gutter-6u > [class*='col-'] + [class*='col-'] {
  margin-top: 60px;
}

.row-vertical-gutter-9u > [class*='col-'] + [class*='col-'] {
  margin-top: 90px;
}

.row-vertical-gutter-12u > [class*='col-'] + [class*='col-'] {
  margin-top: 120px;
}

.row-vertical-gutter-15u > [class*='col-'] + [class*='col-'] {
  margin-top: 150px;
}

.row-vertical-gutter-18u > [class*='col-'] + [class*='col-'] {
  margin-top: 180px;
}

/* Horizontal columns alignment in rows */
.row-centered,
.row-justified {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.row-centered > [class*='col-'],
.row-justified > [class*='col-'] {
  display: inline-block;
  vertical-align: top;
  float: none;
}
.row-centered > [class*='col-'] + [class*='col-'],
.row-justified > [class*='col-'] + [class*='col-'] {
  margin-left: -4px;
}
.row-centered:before, .row-centered:after,
.row-justified:before,
.row-justified:after {
  display: none;
}

.row-centered {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.row-justified {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: justify;
  line-height: 0;
}
.row-justified:after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* Vertical columns alignment in rows */
.row-valign-top,
.row-valign-bottom,
.row-valign-middle,
.row-valign-stretch {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.row-valign-top > [class*='col-'],
.row-valign-bottom > [class*='col-'],
.row-valign-middle > [class*='col-'],
.row-valign-stretch > [class*='col-'] {
  display: inline-block;
  vertical-align: top;
  float: none;
}
.row-valign-top > [class*='col-'] + [class*='col-'],
.row-valign-bottom > [class*='col-'] + [class*='col-'],
.row-valign-middle > [class*='col-'] + [class*='col-'],
.row-valign-stretch > [class*='col-'] + [class*='col-'] {
  margin-left: -4px;
}
.row-valign-top:before, .row-valign-top:after,
.row-valign-bottom:before,
.row-valign-bottom:after,
.row-valign-middle:before,
.row-valign-middle:after,
.row-valign-stretch:before,
.row-valign-stretch:after {
  display: none;
}

.row-valign-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.row-valign-top > [class*='col-'] {
  vertical-align: top;
}

.row-valign-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.row-valign-bottom > [class*='col-'] {
  vertical-align: bottom;
}

.row-valign-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.row-valign-middle > [class*='col-'] {
  vertical-align: middle;
}

.row-valign-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

/* Responsive grid row features
***********************************************/
@media (min-width: 480px) {
  .xs_row-collapse {
    margin-left: 0;
    margin-right: 0;
  }
  .xs_row-collapse > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }

  .xs_row-gutter-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .xs_row-gutter-0 > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 0;
  }
  .xs_row-gutter-0 > [class*='col-'] + [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }
  .xs_row-gutter-0 > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 0;
  }

  .xs_row-gutter-3u {
    margin-left: 0;
    margin-right: 0;
  }
  .xs_row-gutter-3u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 20px;
  }
  .xs_row-gutter-3u > [class*='col-'] + [class*='col-'] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .xs_row-gutter-3u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 20px;
  }

  .xs_row-gutter-6u {
    margin-left: 0;
    margin-right: 0;
  }
  .xs_row-gutter-6u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 40px;
  }
  .xs_row-gutter-6u > [class*='col-'] + [class*='col-'] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .xs_row-gutter-6u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 40px;
  }

  .xs_row-gutter-9u {
    margin-left: 0;
    margin-right: 0;
  }
  .xs_row-gutter-9u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 60px;
  }
  .xs_row-gutter-9u > [class*='col-'] + [class*='col-'] {
    padding-left: 30px;
    padding-right: 30px;
  }
  .xs_row-gutter-9u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 60px;
  }

  .xs_row-gutter-12u {
    margin-left: 0;
    margin-right: 0;
  }
  .xs_row-gutter-12u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 80px;
  }
  .xs_row-gutter-12u > [class*='col-'] + [class*='col-'] {
    padding-left: 40px;
    padding-right: 40px;
  }
  .xs_row-gutter-12u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 80px;
  }

  .xs_row-gutter-15u {
    margin-left: 0;
    margin-right: 0;
  }
  .xs_row-gutter-15u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 100px;
  }
  .xs_row-gutter-15u > [class*='col-'] + [class*='col-'] {
    padding-left: 50px;
    padding-right: 50px;
  }
  .xs_row-gutter-15u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 100px;
  }

  .xs_row-gutter-18u {
    margin-left: 0;
    margin-right: 0;
  }
  .xs_row-gutter-18u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 120px;
  }
  .xs_row-gutter-18u > [class*='col-'] + [class*='col-'] {
    padding-left: 60px;
    padding-right: 60px;
  }
  .xs_row-gutter-18u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 120px;
  }

  .xs_row-gutter-reset {
    margin-right: -10px;
    margin-left: -10px;
  }
  .xs_row-gutter-reset > [class*='col-']:first-child,
  .xs_row-gutter-reset > [class*='col-'] + [class*='col-'],
  .xs_row-gutter-reset > [class*='col-']:last-child {
    padding-right: 10px;
    padding-left: 10px;
  }

  .xs_row-vertical-gutter-0 > [class*='col-'] + [class*='col-'] {
    margin-top: 0;
  }

  .xs_row-vertical-gutter-3u > [class*='col-'] + [class*='col-'] {
    margin-top: 30px;
  }

  .xs_row-vertical-gutter-6u > [class*='col-'] + [class*='col-'] {
    margin-top: 60px;
  }

  .xs_row-vertical-gutter-9u > [class*='col-'] + [class*='col-'] {
    margin-top: 90px;
  }

  .xs_row-vertical-gutter-12u > [class*='col-'] + [class*='col-'] {
    margin-top: 120px;
  }

  .xs_row-vertical-gutter-15u > [class*='col-'] + [class*='col-'] {
    margin-top: 150px;
  }

  .xs_row-vertical-gutter-18u > [class*='col-'] + [class*='col-'] {
    margin-top: 180px;
  }
}
@media (min-width: 768px) {
  .sm_row-collapse {
    margin-left: 0;
    margin-right: 0;
  }
  .sm_row-collapse > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }

  .sm_row-gutter-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .sm_row-gutter-0 > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 0;
  }
  .sm_row-gutter-0 > [class*='col-'] + [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }
  .sm_row-gutter-0 > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 0;
  }

  .sm_row-gutter-3u {
    margin-left: 0;
    margin-right: 0;
  }
  .sm_row-gutter-3u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 20px;
  }
  .sm_row-gutter-3u > [class*='col-'] + [class*='col-'] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .sm_row-gutter-3u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 20px;
  }

  .sm_row-gutter-6u {
    margin-left: 0;
    margin-right: 0;
  }
  .sm_row-gutter-6u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 40px;
  }
  .sm_row-gutter-6u > [class*='col-'] + [class*='col-'] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sm_row-gutter-6u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 40px;
  }

  .sm_row-gutter-9u {
    margin-left: 0;
    margin-right: 0;
  }
  .sm_row-gutter-9u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 60px;
  }
  .sm_row-gutter-9u > [class*='col-'] + [class*='col-'] {
    padding-left: 30px;
    padding-right: 30px;
  }
  .sm_row-gutter-9u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 60px;
  }

  .sm_row-gutter-12u {
    margin-left: 0;
    margin-right: 0;
  }
  .sm_row-gutter-12u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 80px;
  }
  .sm_row-gutter-12u > [class*='col-'] + [class*='col-'] {
    padding-left: 40px;
    padding-right: 40px;
  }
  .sm_row-gutter-12u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 80px;
  }

  .sm_row-gutter-15u {
    margin-left: 0;
    margin-right: 0;
  }
  .sm_row-gutter-15u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 100px;
  }
  .sm_row-gutter-15u > [class*='col-'] + [class*='col-'] {
    padding-left: 50px;
    padding-right: 50px;
  }
  .sm_row-gutter-15u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 100px;
  }

  .sm_row-gutter-18u {
    margin-left: 0;
    margin-right: 0;
  }
  .sm_row-gutter-18u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 120px;
  }
  .sm_row-gutter-18u > [class*='col-'] + [class*='col-'] {
    padding-left: 60px;
    padding-right: 60px;
  }
  .sm_row-gutter-18u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 120px;
  }

  .sm_row-gutter-reset {
    margin-right: -10px;
    margin-left: -10px;
  }
  .sm_row-gutter-reset > [class*='col-']:first-child,
  .sm_row-gutter-reset > [class*='col-'] + [class*='col-'],
  .sm_row-gutter-reset > [class*='col-']:last-child {
    padding-right: 10px;
    padding-left: 10px;
  }

  .sm_row-vertical-gutter-0 > [class*='col-'] + [class*='col-'] {
    margin-top: 0;
  }

  .sm_row-vertical-gutter-3u > [class*='col-'] + [class*='col-'] {
    margin-top: 30px;
  }

  .sm_row-vertical-gutter-6u > [class*='col-'] + [class*='col-'] {
    margin-top: 60px;
  }

  .sm_row-vertical-gutter-9u > [class*='col-'] + [class*='col-'] {
    margin-top: 90px;
  }

  .sm_row-vertical-gutter-12u > [class*='col-'] + [class*='col-'] {
    margin-top: 120px;
  }

  .sm_row-vertical-gutter-15u > [class*='col-'] + [class*='col-'] {
    margin-top: 150px;
  }

  .sm_row-vertical-gutter-18u > [class*='col-'] + [class*='col-'] {
    margin-top: 180px;
  }
}
@media (min-width: 992px) {
  .md_row-collapse {
    margin-left: 0;
    margin-right: 0;
  }
  .md_row-collapse > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }

  .md_row-gutter-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .md_row-gutter-0 > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 0;
  }
  .md_row-gutter-0 > [class*='col-'] + [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }
  .md_row-gutter-0 > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 0;
  }

  .md_row-gutter-3u {
    margin-left: 0;
    margin-right: 0;
  }
  .md_row-gutter-3u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 20px;
  }
  .md_row-gutter-3u > [class*='col-'] + [class*='col-'] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .md_row-gutter-3u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 20px;
  }

  .md_row-gutter-6u {
    margin-left: 0;
    margin-right: 0;
  }
  .md_row-gutter-6u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 40px;
  }
  .md_row-gutter-6u > [class*='col-'] + [class*='col-'] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .md_row-gutter-6u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 40px;
  }

  .md_row-gutter-9u {
    margin-left: 0;
    margin-right: 0;
  }
  .md_row-gutter-9u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 60px;
  }
  .md_row-gutter-9u > [class*='col-'] + [class*='col-'] {
    padding-left: 30px;
    padding-right: 30px;
  }
  .md_row-gutter-9u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 60px;
  }

  .md_row-gutter-12u {
    margin-left: 0;
    margin-right: 0;
  }
  .md_row-gutter-12u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 80px;
  }
  .md_row-gutter-12u > [class*='col-'] + [class*='col-'] {
    padding-left: 40px;
    padding-right: 40px;
  }
  .md_row-gutter-12u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 80px;
  }

  .md_row-gutter-15u {
    margin-left: 0;
    margin-right: 0;
  }
  .md_row-gutter-15u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 100px;
  }
  .md_row-gutter-15u > [class*='col-'] + [class*='col-'] {
    padding-left: 50px;
    padding-right: 50px;
  }
  .md_row-gutter-15u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 100px;
  }

  .md_row-gutter-18u {
    margin-left: 0;
    margin-right: 0;
  }
  .md_row-gutter-18u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 120px;
  }
  .md_row-gutter-18u > [class*='col-'] + [class*='col-'] {
    padding-left: 60px;
    padding-right: 60px;
  }
  .md_row-gutter-18u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 120px;
  }

  .md_row-gutter-reset {
    margin-right: -10px;
    margin-left: -10px;
  }
  .md_row-gutter-reset > [class*='col-']:first-child,
  .md_row-gutter-reset > [class*='col-'] + [class*='col-'],
  .md_row-gutter-reset > [class*='col-']:last-child {
    padding-right: 10px;
    padding-left: 10px;
  }

  .md_row-vertical-gutter-0 > [class*='col-'] + [class*='col-'] {
    margin-top: 0;
  }

  .md_row-vertical-gutter-3u > [class*='col-'] + [class*='col-'] {
    margin-top: 30px;
  }

  .md_row-vertical-gutter-6u > [class*='col-'] + [class*='col-'] {
    margin-top: 60px;
  }

  .md_row-vertical-gutter-9u > [class*='col-'] + [class*='col-'] {
    margin-top: 90px;
  }

  .md_row-vertical-gutter-12u > [class*='col-'] + [class*='col-'] {
    margin-top: 120px;
  }

  .md_row-vertical-gutter-15u > [class*='col-'] + [class*='col-'] {
    margin-top: 150px;
  }

  .md_row-vertical-gutter-18u > [class*='col-'] + [class*='col-'] {
    margin-top: 180px;
  }
}
@media (min-width: 1200px) {
  .lg_row-collapse {
    margin-left: 0;
    margin-right: 0;
  }
  .lg_row-collapse > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }

  .lg_row-gutter-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .lg_row-gutter-0 > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 0;
  }
  .lg_row-gutter-0 > [class*='col-'] + [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }
  .lg_row-gutter-0 > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 0;
  }

  .lg_row-gutter-3u {
    margin-left: 0;
    margin-right: 0;
  }
  .lg_row-gutter-3u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 20px;
  }
  .lg_row-gutter-3u > [class*='col-'] + [class*='col-'] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .lg_row-gutter-3u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 20px;
  }

  .lg_row-gutter-6u {
    margin-left: 0;
    margin-right: 0;
  }
  .lg_row-gutter-6u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 40px;
  }
  .lg_row-gutter-6u > [class*='col-'] + [class*='col-'] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .lg_row-gutter-6u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 40px;
  }

  .lg_row-gutter-9u {
    margin-left: 0;
    margin-right: 0;
  }
  .lg_row-gutter-9u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 60px;
  }
  .lg_row-gutter-9u > [class*='col-'] + [class*='col-'] {
    padding-left: 30px;
    padding-right: 30px;
  }
  .lg_row-gutter-9u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 60px;
  }

  .lg_row-gutter-12u {
    margin-left: 0;
    margin-right: 0;
  }
  .lg_row-gutter-12u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 80px;
  }
  .lg_row-gutter-12u > [class*='col-'] + [class*='col-'] {
    padding-left: 40px;
    padding-right: 40px;
  }
  .lg_row-gutter-12u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 80px;
  }

  .lg_row-gutter-15u {
    margin-left: 0;
    margin-right: 0;
  }
  .lg_row-gutter-15u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 100px;
  }
  .lg_row-gutter-15u > [class*='col-'] + [class*='col-'] {
    padding-left: 50px;
    padding-right: 50px;
  }
  .lg_row-gutter-15u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 100px;
  }

  .lg_row-gutter-18u {
    margin-left: 0;
    margin-right: 0;
  }
  .lg_row-gutter-18u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 120px;
  }
  .lg_row-gutter-18u > [class*='col-'] + [class*='col-'] {
    padding-left: 60px;
    padding-right: 60px;
  }
  .lg_row-gutter-18u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 120px;
  }

  .lg_row-gutter-reset {
    margin-right: -10px;
    margin-left: -10px;
  }
  .lg_row-gutter-reset > [class*='col-']:first-child,
  .lg_row-gutter-reset > [class*='col-'] + [class*='col-'],
  .lg_row-gutter-reset > [class*='col-']:last-child {
    padding-right: 10px;
    padding-left: 10px;
  }

  .lg_row-vertical-gutter-0 > [class*='col-'] + [class*='col-'] {
    margin-top: 0;
  }

  .lg_row-vertical-gutter-3u > [class*='col-'] + [class*='col-'] {
    margin-top: 30px;
  }

  .lg_row-vertical-gutter-6u > [class*='col-'] + [class*='col-'] {
    margin-top: 60px;
  }

  .lg_row-vertical-gutter-9u > [class*='col-'] + [class*='col-'] {
    margin-top: 90px;
  }

  .lg_row-vertical-gutter-12u > [class*='col-'] + [class*='col-'] {
    margin-top: 120px;
  }

  .lg_row-vertical-gutter-15u > [class*='col-'] + [class*='col-'] {
    margin-top: 150px;
  }

  .lg_row-vertical-gutter-18u > [class*='col-'] + [class*='col-'] {
    margin-top: 180px;
  }
}
@media (min-width: 1440px) {
  .xl_row-collapse {
    margin-left: 0;
    margin-right: 0;
  }
  .xl_row-collapse > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }

  .xl_row-gutter-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .xl_row-gutter-0 > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 0;
  }
  .xl_row-gutter-0 > [class*='col-'] + [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }
  .xl_row-gutter-0 > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 0;
  }

  .xl_row-gutter-3u {
    margin-left: 0;
    margin-right: 0;
  }
  .xl_row-gutter-3u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 20px;
  }
  .xl_row-gutter-3u > [class*='col-'] + [class*='col-'] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .xl_row-gutter-3u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 20px;
  }

  .xl_row-gutter-6u {
    margin-left: 0;
    margin-right: 0;
  }
  .xl_row-gutter-6u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 40px;
  }
  .xl_row-gutter-6u > [class*='col-'] + [class*='col-'] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .xl_row-gutter-6u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 40px;
  }

  .xl_row-gutter-9u {
    margin-left: 0;
    margin-right: 0;
  }
  .xl_row-gutter-9u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 60px;
  }
  .xl_row-gutter-9u > [class*='col-'] + [class*='col-'] {
    padding-left: 30px;
    padding-right: 30px;
  }
  .xl_row-gutter-9u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 60px;
  }

  .xl_row-gutter-12u {
    margin-left: 0;
    margin-right: 0;
  }
  .xl_row-gutter-12u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 80px;
  }
  .xl_row-gutter-12u > [class*='col-'] + [class*='col-'] {
    padding-left: 40px;
    padding-right: 40px;
  }
  .xl_row-gutter-12u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 80px;
  }

  .xl_row-gutter-15u {
    margin-left: 0;
    margin-right: 0;
  }
  .xl_row-gutter-15u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 100px;
  }
  .xl_row-gutter-15u > [class*='col-'] + [class*='col-'] {
    padding-left: 50px;
    padding-right: 50px;
  }
  .xl_row-gutter-15u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 100px;
  }

  .xl_row-gutter-18u {
    margin-left: 0;
    margin-right: 0;
  }
  .xl_row-gutter-18u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 120px;
  }
  .xl_row-gutter-18u > [class*='col-'] + [class*='col-'] {
    padding-left: 60px;
    padding-right: 60px;
  }
  .xl_row-gutter-18u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 120px;
  }

  .xl_row-gutter-reset {
    margin-right: -10px;
    margin-left: -10px;
  }
  .xl_row-gutter-reset > [class*='col-']:first-child,
  .xl_row-gutter-reset > [class*='col-'] + [class*='col-'],
  .xl_row-gutter-reset > [class*='col-']:last-child {
    padding-right: 10px;
    padding-left: 10px;
  }

  .xl_row-vertical-gutter-0 > [class*='col-'] + [class*='col-'] {
    margin-top: 0;
  }

  .xl_row-vertical-gutter-3u > [class*='col-'] + [class*='col-'] {
    margin-top: 30px;
  }

  .xl_row-vertical-gutter-6u > [class*='col-'] + [class*='col-'] {
    margin-top: 60px;
  }

  .xl_row-vertical-gutter-9u > [class*='col-'] + [class*='col-'] {
    margin-top: 90px;
  }

  .xl_row-vertical-gutter-12u > [class*='col-'] + [class*='col-'] {
    margin-top: 120px;
  }

  .xl_row-vertical-gutter-15u > [class*='col-'] + [class*='col-'] {
    margin-top: 150px;
  }

  .xl_row-vertical-gutter-18u > [class*='col-'] + [class*='col-'] {
    margin-top: 180px;
  }
}
/* Grid columns
***********************************************/
/* common column settings */
.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1, .xs_col-12, .xs_col-11, .xs_col-10, .xs_col-9, .xs_col-8, .xs_col-7, .xs_col-6, .xs_col-5, .xs_col-4, .xs_col-3, .xs_col-2, .xs_col-1, .sm_col-12, .sm_col-11, .sm_col-10, .sm_col-9, .sm_col-8, .sm_col-7, .sm_col-6, .sm_col-5, .sm_col-4, .sm_col-3, .sm_col-2, .sm_col-1, .md_col-12, .md_col-11, .md_col-10, .md_col-9, .md_col-8, .md_col-7, .md_col-6, .md_col-5, .md_col-4, .md_col-3, .md_col-2, .md_col-1, .lg_col-12, .lg_col-11, .lg_col-10, .lg_col-9, .lg_col-8, .lg_col-7, .lg_col-6, .lg_col-5, .lg_col-4, .lg_col-3, .lg_col-2, .lg_col-1, .xl_col-12, .xl_col-11, .xl_col-10, .xl_col-9, .xl_col-8, .xl_col-7, .xl_col-6, .xl_col-5, .xl_col-4, .xl_col-3, .xl_col-2, .xl_col-1 {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Grid column features
***********************************************/
/* cols' width for all screen sizes */
.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  float: left;
}

.col-12 {
  width: 100%;
}

.col-offset-12 {
  margin-left: 100%;
}

.col-right-12 {
  left: 100%;
}

.col-left-12 {
  right: 100%;
}

.col-11 {
  width: 91.66667%;
}

.col-offset-11 {
  margin-left: 91.66667%;
}

.col-right-11 {
  left: 91.66667%;
}

.col-left-11 {
  right: 91.66667%;
}

.col-10 {
  width: 83.33333%;
}

.col-offset-10 {
  margin-left: 83.33333%;
}

.col-right-10 {
  left: 83.33333%;
}

.col-left-10 {
  right: 83.33333%;
}

.col-9 {
  width: 75%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-right-9 {
  left: 75%;
}

.col-left-9 {
  right: 75%;
}

.col-8 {
  width: 66.66667%;
}

.col-offset-8 {
  margin-left: 66.66667%;
}

.col-right-8 {
  left: 66.66667%;
}

.col-left-8 {
  right: 66.66667%;
}

.col-7 {
  width: 58.33333%;
}

.col-offset-7 {
  margin-left: 58.33333%;
}

.col-right-7 {
  left: 58.33333%;
}

.col-left-7 {
  right: 58.33333%;
}

.col-6 {
  width: 50%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-right-6 {
  left: 50%;
}

.col-left-6 {
  right: 50%;
}

.col-5 {
  width: 41.66667%;
}

.col-offset-5 {
  margin-left: 41.66667%;
}

.col-right-5 {
  left: 41.66667%;
}

.col-left-5 {
  right: 41.66667%;
}

.col-4 {
  width: 33.33333%;
}

.col-offset-4 {
  margin-left: 33.33333%;
}

.col-right-4 {
  left: 33.33333%;
}

.col-left-4 {
  right: 33.33333%;
}

.col-3 {
  width: 25%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-right-3 {
  left: 25%;
}

.col-left-3 {
  right: 25%;
}

.col-2 {
  width: 16.66667%;
}

.col-offset-2 {
  margin-left: 16.66667%;
}

.col-right-2 {
  left: 16.66667%;
}

.col-left-2 {
  right: 16.66667%;
}

.col-1 {
  width: 8.33333%;
}

.col-offset-1 {
  margin-left: 8.33333%;
}

.col-right-1 {
  left: 8.33333%;
}

.col-left-1 {
  right: 8.33333%;
}

.col-reset-order {
  right: auto;
  left: auto;
}

@media (min-width: 480px) {
  .xs_col-12, .xs_col-11, .xs_col-10, .xs_col-9, .xs_col-8, .xs_col-7, .xs_col-6, .xs_col-5, .xs_col-4, .xs_col-3, .xs_col-2, .xs_col-1 {
    float: left;
  }

  .xs_col-12 {
    width: 100%;
  }

  .xs_col-offset-12 {
    margin-left: 100%;
  }

  .xs_col-right-12 {
    left: 100%;
  }

  .xs_col-left-12 {
    right: 100%;
  }

  .xs_col-11 {
    width: 91.66667%;
  }

  .xs_col-offset-11 {
    margin-left: 91.66667%;
  }

  .xs_col-right-11 {
    left: 91.66667%;
  }

  .xs_col-left-11 {
    right: 91.66667%;
  }

  .xs_col-10 {
    width: 83.33333%;
  }

  .xs_col-offset-10 {
    margin-left: 83.33333%;
  }

  .xs_col-right-10 {
    left: 83.33333%;
  }

  .xs_col-left-10 {
    right: 83.33333%;
  }

  .xs_col-9 {
    width: 75%;
  }

  .xs_col-offset-9 {
    margin-left: 75%;
  }

  .xs_col-right-9 {
    left: 75%;
  }

  .xs_col-left-9 {
    right: 75%;
  }

  .xs_col-8 {
    width: 66.66667%;
  }

  .xs_col-offset-8 {
    margin-left: 66.66667%;
  }

  .xs_col-right-8 {
    left: 66.66667%;
  }

  .xs_col-left-8 {
    right: 66.66667%;
  }

  .xs_col-7 {
    width: 58.33333%;
  }

  .xs_col-offset-7 {
    margin-left: 58.33333%;
  }

  .xs_col-right-7 {
    left: 58.33333%;
  }

  .xs_col-left-7 {
    right: 58.33333%;
  }

  .xs_col-6 {
    width: 50%;
  }

  .xs_col-offset-6 {
    margin-left: 50%;
  }

  .xs_col-right-6 {
    left: 50%;
  }

  .xs_col-left-6 {
    right: 50%;
  }

  .xs_col-5 {
    width: 41.66667%;
  }

  .xs_col-offset-5 {
    margin-left: 41.66667%;
  }

  .xs_col-right-5 {
    left: 41.66667%;
  }

  .xs_col-left-5 {
    right: 41.66667%;
  }

  .xs_col-4 {
    width: 33.33333%;
  }

  .xs_col-offset-4 {
    margin-left: 33.33333%;
  }

  .xs_col-right-4 {
    left: 33.33333%;
  }

  .xs_col-left-4 {
    right: 33.33333%;
  }

  .xs_col-3 {
    width: 25%;
  }

  .xs_col-offset-3 {
    margin-left: 25%;
  }

  .xs_col-right-3 {
    left: 25%;
  }

  .xs_col-left-3 {
    right: 25%;
  }

  .xs_col-2 {
    width: 16.66667%;
  }

  .xs_col-offset-2 {
    margin-left: 16.66667%;
  }

  .xs_col-right-2 {
    left: 16.66667%;
  }

  .xs_col-left-2 {
    right: 16.66667%;
  }

  .xs_col-1 {
    width: 8.33333%;
  }

  .xs_col-offset-1 {
    margin-left: 8.33333%;
  }

  .xs_col-right-1 {
    left: 8.33333%;
  }

  .xs_col-left-1 {
    right: 8.33333%;
  }

  .xs_col-reset-order {
    right: auto;
    left: auto;
  }
}
@media (min-width: 768px) {
  .sm_col-12, .sm_col-11, .sm_col-10, .sm_col-9, .sm_col-8, .sm_col-7, .sm_col-6, .sm_col-5, .sm_col-4, .sm_col-3, .sm_col-2, .sm_col-1 {
    float: left;
  }

  .sm_col-12 {
    width: 100%;
  }

  .sm_col-offset-12 {
    margin-left: 100%;
  }

  .sm_col-right-12 {
    left: 100%;
  }

  .sm_col-left-12 {
    right: 100%;
  }

  .sm_col-11 {
    width: 91.66667%;
  }

  .sm_col-offset-11 {
    margin-left: 91.66667%;
  }

  .sm_col-right-11 {
    left: 91.66667%;
  }

  .sm_col-left-11 {
    right: 91.66667%;
  }

  .sm_col-10 {
    width: 83.33333%;
  }

  .sm_col-offset-10 {
    margin-left: 83.33333%;
  }

  .sm_col-right-10 {
    left: 83.33333%;
  }

  .sm_col-left-10 {
    right: 83.33333%;
  }

  .sm_col-9 {
    width: 75%;
  }

  .sm_col-offset-9 {
    margin-left: 75%;
  }

  .sm_col-right-9 {
    left: 75%;
  }

  .sm_col-left-9 {
    right: 75%;
  }

  .sm_col-8 {
    width: 66.66667%;
  }

  .sm_col-offset-8 {
    margin-left: 66.66667%;
  }

  .sm_col-right-8 {
    left: 66.66667%;
  }

  .sm_col-left-8 {
    right: 66.66667%;
  }

  .sm_col-7 {
    width: 58.33333%;
  }

  .sm_col-offset-7 {
    margin-left: 58.33333%;
  }

  .sm_col-right-7 {
    left: 58.33333%;
  }

  .sm_col-left-7 {
    right: 58.33333%;
  }

  .sm_col-6 {
    width: 50%;
  }

  .sm_col-offset-6 {
    margin-left: 50%;
  }

  .sm_col-right-6 {
    left: 50%;
  }

  .sm_col-left-6 {
    right: 50%;
  }

  .sm_col-5 {
    width: 41.66667%;
  }

  .sm_col-offset-5 {
    margin-left: 41.66667%;
  }

  .sm_col-right-5 {
    left: 41.66667%;
  }

  .sm_col-left-5 {
    right: 41.66667%;
  }

  .sm_col-4 {
    width: 33.33333%;
  }

  .sm_col-offset-4 {
    margin-left: 33.33333%;
  }

  .sm_col-right-4 {
    left: 33.33333%;
  }

  .sm_col-left-4 {
    right: 33.33333%;
  }

  .sm_col-3 {
    width: 25%;
  }

  .sm_col-offset-3 {
    margin-left: 25%;
  }

  .sm_col-right-3 {
    left: 25%;
  }

  .sm_col-left-3 {
    right: 25%;
  }

  .sm_col-2 {
    width: 16.66667%;
  }

  .sm_col-offset-2 {
    margin-left: 16.66667%;
  }

  .sm_col-right-2 {
    left: 16.66667%;
  }

  .sm_col-left-2 {
    right: 16.66667%;
  }

  .sm_col-1 {
    width: 8.33333%;
  }

  .sm_col-offset-1 {
    margin-left: 8.33333%;
  }

  .sm_col-right-1 {
    left: 8.33333%;
  }

  .sm_col-left-1 {
    right: 8.33333%;
  }

  .sm_col-reset-order {
    right: auto;
    left: auto;
  }
}
@media (min-width: 992px) {
  .md_col-12, .md_col-11, .md_col-10, .md_col-9, .md_col-8, .md_col-7, .md_col-6, .md_col-5, .md_col-4, .md_col-3, .md_col-2, .md_col-1 {
    float: left;
  }

  .md_col-12 {
    width: 100%;
  }

  .md_col-offset-12 {
    margin-left: 100%;
  }

  .md_col-right-12 {
    left: 100%;
  }

  .md_col-left-12 {
    right: 100%;
  }

  .md_col-11 {
    width: 91.66667%;
  }

  .md_col-offset-11 {
    margin-left: 91.66667%;
  }

  .md_col-right-11 {
    left: 91.66667%;
  }

  .md_col-left-11 {
    right: 91.66667%;
  }

  .md_col-10 {
    width: 83.33333%;
  }

  .md_col-offset-10 {
    margin-left: 83.33333%;
  }

  .md_col-right-10 {
    left: 83.33333%;
  }

  .md_col-left-10 {
    right: 83.33333%;
  }

  .md_col-9 {
    width: 75%;
  }

  .md_col-offset-9 {
    margin-left: 75%;
  }

  .md_col-right-9 {
    left: 75%;
  }

  .md_col-left-9 {
    right: 75%;
  }

  .md_col-8 {
    width: 66.66667%;
  }

  .md_col-offset-8 {
    margin-left: 66.66667%;
  }

  .md_col-right-8 {
    left: 66.66667%;
  }

  .md_col-left-8 {
    right: 66.66667%;
  }

  .md_col-7 {
    width: 58.33333%;
  }

  .md_col-offset-7 {
    margin-left: 58.33333%;
  }

  .md_col-right-7 {
    left: 58.33333%;
  }

  .md_col-left-7 {
    right: 58.33333%;
  }

  .md_col-6 {
    width: 50%;
  }

  .md_col-offset-6 {
    margin-left: 50%;
  }

  .md_col-right-6 {
    left: 50%;
  }

  .md_col-left-6 {
    right: 50%;
  }

  .md_col-5 {
    width: 41.66667%;
  }

  .md_col-offset-5 {
    margin-left: 41.66667%;
  }

  .md_col-right-5 {
    left: 41.66667%;
  }

  .md_col-left-5 {
    right: 41.66667%;
  }

  .md_col-4 {
    width: 33.33333%;
  }

  .md_col-offset-4 {
    margin-left: 33.33333%;
  }

  .md_col-right-4 {
    left: 33.33333%;
  }

  .md_col-left-4 {
    right: 33.33333%;
  }

  .md_col-3 {
    width: 25%;
  }

  .md_col-offset-3 {
    margin-left: 25%;
  }

  .md_col-right-3 {
    left: 25%;
  }

  .md_col-left-3 {
    right: 25%;
  }

  .md_col-2 {
    width: 16.66667%;
  }

  .md_col-offset-2 {
    margin-left: 16.66667%;
  }

  .md_col-right-2 {
    left: 16.66667%;
  }

  .md_col-left-2 {
    right: 16.66667%;
  }

  .md_col-1 {
    width: 8.33333%;
  }

  .md_col-offset-1 {
    margin-left: 8.33333%;
  }

  .md_col-right-1 {
    left: 8.33333%;
  }

  .md_col-left-1 {
    right: 8.33333%;
  }

  .md_col-reset-order {
    right: auto;
    left: auto;
  }
}
@media (min-width: 1200px) {
  .lg_col-12, .lg_col-11, .lg_col-10, .lg_col-9, .lg_col-8, .lg_col-7, .lg_col-6, .lg_col-5, .lg_col-4, .lg_col-3, .lg_col-2, .lg_col-1 {
    float: left;
  }

  .lg_col-12 {
    width: 100%;
  }

  .lg_col-offset-12 {
    margin-left: 100%;
  }

  .lg_col-right-12 {
    left: 100%;
  }

  .lg_col-left-12 {
    right: 100%;
  }

  .lg_col-11 {
    width: 91.66667%;
  }

  .lg_col-offset-11 {
    margin-left: 91.66667%;
  }

  .lg_col-right-11 {
    left: 91.66667%;
  }

  .lg_col-left-11 {
    right: 91.66667%;
  }

  .lg_col-10 {
    width: 83.33333%;
  }

  .lg_col-offset-10 {
    margin-left: 83.33333%;
  }

  .lg_col-right-10 {
    left: 83.33333%;
  }

  .lg_col-left-10 {
    right: 83.33333%;
  }

  .lg_col-9 {
    width: 75%;
  }

  .lg_col-offset-9 {
    margin-left: 75%;
  }

  .lg_col-right-9 {
    left: 75%;
  }

  .lg_col-left-9 {
    right: 75%;
  }

  .lg_col-8 {
    width: 66.66667%;
  }

  .lg_col-offset-8 {
    margin-left: 66.66667%;
  }

  .lg_col-right-8 {
    left: 66.66667%;
  }

  .lg_col-left-8 {
    right: 66.66667%;
  }

  .lg_col-7 {
    width: 58.33333%;
  }

  .lg_col-offset-7 {
    margin-left: 58.33333%;
  }

  .lg_col-right-7 {
    left: 58.33333%;
  }

  .lg_col-left-7 {
    right: 58.33333%;
  }

  .lg_col-6 {
    width: 50%;
  }

  .lg_col-offset-6 {
    margin-left: 50%;
  }

  .lg_col-right-6 {
    left: 50%;
  }

  .lg_col-left-6 {
    right: 50%;
  }

  .lg_col-5 {
    width: 41.66667%;
  }

  .lg_col-offset-5 {
    margin-left: 41.66667%;
  }

  .lg_col-right-5 {
    left: 41.66667%;
  }

  .lg_col-left-5 {
    right: 41.66667%;
  }

  .lg_col-4 {
    width: 33.33333%;
  }

  .lg_col-offset-4 {
    margin-left: 33.33333%;
  }

  .lg_col-right-4 {
    left: 33.33333%;
  }

  .lg_col-left-4 {
    right: 33.33333%;
  }

  .lg_col-3 {
    width: 25%;
  }

  .lg_col-offset-3 {
    margin-left: 25%;
  }

  .lg_col-right-3 {
    left: 25%;
  }

  .lg_col-left-3 {
    right: 25%;
  }

  .lg_col-2 {
    width: 16.66667%;
  }

  .lg_col-offset-2 {
    margin-left: 16.66667%;
  }

  .lg_col-right-2 {
    left: 16.66667%;
  }

  .lg_col-left-2 {
    right: 16.66667%;
  }

  .lg_col-1 {
    width: 8.33333%;
  }

  .lg_col-offset-1 {
    margin-left: 8.33333%;
  }

  .lg_col-right-1 {
    left: 8.33333%;
  }

  .lg_col-left-1 {
    right: 8.33333%;
  }

  .lg_col-reset-order {
    right: auto;
    left: auto;
  }
}
@media (min-width: 1440px) {
  .xl_col-12, .xl_col-11, .xl_col-10, .xl_col-9, .xl_col-8, .xl_col-7, .xl_col-6, .xl_col-5, .xl_col-4, .xl_col-3, .xl_col-2, .xl_col-1 {
    float: left;
  }

  .xl_col-12 {
    width: 100%;
  }

  .xl_col-offset-12 {
    margin-left: 100%;
  }

  .xl_col-right-12 {
    left: 100%;
  }

  .xl_col-left-12 {
    right: 100%;
  }

  .xl_col-11 {
    width: 91.66667%;
  }

  .xl_col-offset-11 {
    margin-left: 91.66667%;
  }

  .xl_col-right-11 {
    left: 91.66667%;
  }

  .xl_col-left-11 {
    right: 91.66667%;
  }

  .xl_col-10 {
    width: 83.33333%;
  }

  .xl_col-offset-10 {
    margin-left: 83.33333%;
  }

  .xl_col-right-10 {
    left: 83.33333%;
  }

  .xl_col-left-10 {
    right: 83.33333%;
  }

  .xl_col-9 {
    width: 75%;
  }

  .xl_col-offset-9 {
    margin-left: 75%;
  }

  .xl_col-right-9 {
    left: 75%;
  }

  .xl_col-left-9 {
    right: 75%;
  }

  .xl_col-8 {
    width: 66.66667%;
  }

  .xl_col-offset-8 {
    margin-left: 66.66667%;
  }

  .xl_col-right-8 {
    left: 66.66667%;
  }

  .xl_col-left-8 {
    right: 66.66667%;
  }

  .xl_col-7 {
    width: 58.33333%;
  }

  .xl_col-offset-7 {
    margin-left: 58.33333%;
  }

  .xl_col-right-7 {
    left: 58.33333%;
  }

  .xl_col-left-7 {
    right: 58.33333%;
  }

  .xl_col-6 {
    width: 50%;
  }

  .xl_col-offset-6 {
    margin-left: 50%;
  }

  .xl_col-right-6 {
    left: 50%;
  }

  .xl_col-left-6 {
    right: 50%;
  }

  .xl_col-5 {
    width: 41.66667%;
  }

  .xl_col-offset-5 {
    margin-left: 41.66667%;
  }

  .xl_col-right-5 {
    left: 41.66667%;
  }

  .xl_col-left-5 {
    right: 41.66667%;
  }

  .xl_col-4 {
    width: 33.33333%;
  }

  .xl_col-offset-4 {
    margin-left: 33.33333%;
  }

  .xl_col-right-4 {
    left: 33.33333%;
  }

  .xl_col-left-4 {
    right: 33.33333%;
  }

  .xl_col-3 {
    width: 25%;
  }

  .xl_col-offset-3 {
    margin-left: 25%;
  }

  .xl_col-right-3 {
    left: 25%;
  }

  .xl_col-left-3 {
    right: 25%;
  }

  .xl_col-2 {
    width: 16.66667%;
  }

  .xl_col-offset-2 {
    margin-left: 16.66667%;
  }

  .xl_col-right-2 {
    left: 16.66667%;
  }

  .xl_col-left-2 {
    right: 16.66667%;
  }

  .xl_col-1 {
    width: 8.33333%;
  }

  .xl_col-offset-1 {
    margin-left: 8.33333%;
  }

  .xl_col-right-1 {
    left: 8.33333%;
  }

  .xl_col-left-1 {
    right: 8.33333%;
  }

  .xl_col-reset-order {
    right: auto;
    left: auto;
  }
}
